<mat-tab-group [selectedIndex]="0" mat-stretch-tabs>
  <mat-tab class="tab-item">
    <ng-template mat-tab-label>
      <mat-icon class="tab-items">desktop_mac</mat-icon>
      Dashboard
    </ng-template>
    <app-dashboard></app-dashboard>
    <app-profile-dashboard></app-profile-dashboard>
    <app-table-data></app-table-data>
  </mat-tab>

  <mat-tab class="tab-item" label="Widgets">
    <ng-template mat-tab-label>
      <mat-icon class="tab-items">widgets</mat-icon>
      Widgets
    </ng-template>
  </mat-tab>

  <mat-tab class="tab-item">
    <ng-template mat-tab-label>
      <mat-icon class="tab-items">format_paint</mat-icon>
      UI Elements
    </ng-template>
  </mat-tab>

  <mat-tab class="tab-item">
    <ng-template mat-tab-label>
      <mat-icon class="tab-items">book</mat-icon>
      Pages
    </ng-template>
  </mat-tab>

  <mat-tab class="tab-item">
    <ng-template mat-tab-label>
      <mat-icon class="tab-items">description</mat-icon>
      Form
    </ng-template>
    <app-user-form></app-user-form>
  </mat-tab>

  <mat-tab class="tab-item">
    <ng-template mat-tab-label>
      <mat-icon class="tab-items">apps</mat-icon>
      Apps
    </ng-template>
  </mat-tab>
</mat-tab-group>