<mat-toolbar fxLayout="row" fxLayoutAlign="space-between">
  <span fxLayoutAlign="center center">Liberty UI</span>
  <div>
    <form class="example-form">
      <mat-icon matPrefix>search</mat-icon>
      <mat-form-field class="example-full-width">
        <input matInput>
      </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-icon matBadge="4" matBadgeOverlap="true" matBadgeColor="accent">notifications </mat-icon>
    </div>
  </div>
</mat-toolbar>