<mat-sidenav-container>
    <mat-sidenav #sidenav mode="push" [(opened)]="opened" class="sidenav-container">
        <h4 fxHide.gt-xs>Liberty UI</h4>
        <mat-list role="list">
            <mat-list-item role="listitem"><a href="#"><mat-icon>person</mat-icon>Dashboard</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#">Widget</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#">UI Elements</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#">Pages</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#">Form</a></mat-list-item>
            <mat-list-item role="listitem"><a href="#">Apps</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-button>
                <mat-icon (click)="opened = !opened">menu</mat-icon>
            </button>
            <span fxFlex fxLayoutAlign="start center" fxHide.xs>
                Liberty UI
            </span>
            <div fxFlex fxLayoutAlign="end center" fxLayoutGap="10px">
                <form [formGroup]>
                    <mat-form-field>
                        <mat-icon matPrefix>search</mat-icon>
                        <input matInput>
                    </mat-form-field>
                </form>
                <mat-icon matBadge="4" matBadgeOverlap="true" matBadgeColor="accent" fxHide.xs>notifications </mat-icon>
                <button mat-icon-button [matMenuTriggerFor]="mainMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #mainMenu="matMenu">
                    <button mat-menu-item fxLayoutAlign="start center">
                        <mat-icon>person</mat-icon>
                        Profile
                    </button>
                    <button mat-menu-item fxLayoutAlign="start center">
                        <mat-icon>settings_applications</mat-icon>
                        Settings
                    </button>
                    <button mat-menu-item fxLayoutAlign="start center" [matMenuTriggerFor]="moreMenu">
                        <mat-icon>add</mat-icon>
                        More
                    </button>
                </mat-menu>
                <mat-menu #moreMenu="matMenu" fxLayoutAlign="start center">
                    <button mat-menu-item>
                        Logout
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar>
        <!-- <app-liberty-toolbar></app-liberty-toolbar> -->
        <app-liberty-tabs></app-liberty-tabs>
    </mat-sidenav-content>
</mat-sidenav-container>