<form [formGroup]="profileForm" class="wide-container" fxLayoutGap="10px" fxLayout="row" fxLayout.xs="column">
    <div fxLayout="column" fxFlex>
        <h4>Fill up your form</h4>
        <mat-form-field hintLabel="Max 10 characters">
            <mat-label>Enter Your Name</mat-label>
            <input #inputName maxlength="10" matInput placeholder="Full Name">
            <mat-icon matPrefix>sentiment_very_satisfied</mat-icon>
            <mat-hint align="end">{{inputName.value.length}}/10</mat-hint>
        </mat-form-field>

        <mat-form-field hintLabel="Eg: New Baneswor">
            <mat-label>Enter Your Address</mat-label>
            <mat-icon matSuffix>home</mat-icon>
            <input #inputLocation matInput placeholder="Location">
            <mat-hint align="end">{{inputLocation.value.length}}/10</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="text" formControlName="email" placeholder="Enter you Email">
            <mat-error *ngIf="profileForm.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter New Password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide? 'visibility_off':'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Amount" type="number">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Choose One">
                <mat-option value="male">
                    Male
                </mat-option>
                <mat-option value="female">
                    Female
                </mat-option>
                <mat-option value="other">
                    Other
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div fxLayout="column" fxFlex>
        <h4>Date of Birth</h4>
        <mat-form-field>
            <input matInput [matDatepicker]="matDatepicker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="matDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #matDatepicker startView="multi-year"></mat-datepicker>
        </mat-form-field>
        <h4>Finally,</h4>
        <mat-accordion>
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Personal detail
                    </mat-panel-title>
                    <mat-panel-description>
                        Mandatory
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="row" fxLayout.xs="column">
                    <mat-radio-group>
                        <mat-radio-button value="1" labelPosition="after">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <input matInput placeholder="First Name">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput placeholder="Last Name">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <input matInput type="number" placeholder="Contact Number">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput type="email" placeholder="Email Address">
                        </mat-form-field>
                    </div>
                </div>
                <mat-action-row>
                    <!-- <button mat-button color="warn" (click)="prevStep()">Prev</button> -->
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 1">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Family Detail
                    </mat-panel-title>
                    <mat-panel-description>
                        (Not Mandatory)
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <input matInput placeholder="Mother's Name">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput placeholder="Father's Name">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <input matInput type="number" placeholder="Contact Number">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput type="email" placeholder="Email Address">
                        </mat-form-field>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Prev</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Document Detail
                    </mat-panel-title>
                    <mat-panel-description>
                        (Not Mandatory)
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <input matInput placeholder="Mother's Name">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput placeholder="Father's Name">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <input matInput type="number" placeholder="Contact Number">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput type="email" placeholder="Email Address">
                        </mat-form-field>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Prev</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 3">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Occupation Detail
                    </mat-panel-title>
                    <mat-panel-description>
                        (Not Mandatory)
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <input matInput placeholder="Mother's Name">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput placeholder="Father's Name">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <input matInput type="number" placeholder="Contact Number">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput type="email" placeholder="Email Address">
                        </mat-form-field>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Prev</button>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 4" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Other Detail
                    </mat-panel-title>
                    <mat-panel-description>
                        (Not Mandatory)
                    </mat-panel-description>
                    <mat-icon>map_marker</mat-icon>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <input matInput placeholder="Mother's Name">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput placeholder="Father's Name">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <input matInput type="number" placeholder="Contact Number">
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <input matInput type="email" placeholder="Email Address">
                        </mat-form-field>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Prev</button>
                    <button mat-button color="primary" (click)="nextStep()">End</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</form>