<div id="profile-dashoard">
    <mat-card  fxLayout="column" class="center-text no-border-radius">
        <mat-card-header fxLayoutAlign="center center" fxLayout="column">
            <div mat-card-avatar class="card-header-image"></div>
            <mat-card-title>John Doe</mat-card-title>
            <mat-card-subtitle>Developer</mat-card-subtitle>
        </mat-card-header>
        <p class="mat-body center-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolor sit repellat maiores fugit officiis?
        </p>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-flat-button color="primary">Primary</button>
        </div>
        <mat-divider [inset]="true"></mat-divider>
    </mat-card>
</div>