<div id="profile-dashoard">
    <mat-card fxLayout="column" class="no-border-radius">
        <mat-card-header>
            <div mat-card-avatar class="profile-card-img"></div>
        </mat-card-header>
        <mat-card-title>John Doe</mat-card-title>
        <mat-card-subtitle>Developer</mat-card-subtitle>
        <p class="mat-body center-text">
            Lorem ipsusssm dolor sit amet consectetur adipisicing elit. Magnam dolor sit repellat maiores fugit officiis?
        </p>
    </mat-card>
</div>