<div fxLayout="row" class="wide-container" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
    <mat-card class="no-border-radius" fxFlex fxLayoutAlign="center center" fxLayout.xs="column">
        <mat-icon fxLayoutAlign="center center" color="primary" class="side-icon">account_circle</mat-icon>
        <mat-card-header fxLayoutAlign="center center">
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title class="no-margin">New Users</mat-card-title>
            <mat-card-subtitle class="no-margin">65,250</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="no-border-radius" fxFlex fxLayoutAlign="center center">
        <mat-icon fxLayoutAlign="center center" color="primary" class="side-icon">how_to_reg</mat-icon>
        <mat-card-header>
            <mat-card-title class="no-margin">New Feedbacks</mat-card-title>
            <mat-card-subtitle class="no-margin">32,120</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="no-border-radius" fxFlex fxLayoutAlign="center center">
        <mat-icon fxLayoutAlign="center center" color="primary" class="side-icon">person</mat-icon>
        <mat-card-header>
            <mat-card-title class="no-margin">Employees</mat-card-title>
            <mat-card-subtitle class="no-margin">15,000</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="no-border-radius" fxFlex fxLayoutAlign="center center">
        <mat-icon fxLayoutAlign="center center" color="primary" class="side-icon">bar_chart</mat-icon>
        <mat-card-header>
            <mat-card-title class="no-margin">Total Sales</mat-card-title>
            <mat-card-subtitle class="no-margin">98,521</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>

