<div fxLayout="row" class="wide-container" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
    <mat-card class="no-border-radius" fxFlex fxLayoutAlign="center center">
        <mat-icon color="primary">account_circle</mat-icon>
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>New Users</mat-card-title>
            <mat-card-subtitle>65,250</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="no-border-radius" fxFlex fxLayoutAlign="center center">
        <mat-icon color="primary">how_to_reg</mat-icon>
        <mat-card-header>
            <mat-card-title>New Feedbacks</mat-card-title>
            <mat-card-subtitle>32,120</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="no-border-radius" fxFlex fxLayoutAlign="center center">
        <mat-icon color="primary">person</mat-icon>
        <mat-card-header>
            <mat-card-title>Employees</mat-card-title>
            <mat-card-subtitle>15,000</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="no-border-radius" fxFlex fxLayoutAlign="center center">
        <mat-icon color="primary">bar_chart</mat-icon>
        <mat-card-header>
            <mat-card-title>Total Sales</mat-card-title>
            <mat-card-subtitle>98,521</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>

