/* You can add global styles to this file, and also import other style files */
// @import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
a {
  text-decoration: none;
}
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wide-container {
  margin: 1em;
}

.no-border-radius {
  border-radius: 0px !important; 
}
.center-text {
  text-align: center;
}
.no-margin {
  margin: 0 !important; 
}
.m-tb-10 {
  margin: 10px 0;
}
.p-tb-10 {
  padding: 10px 0;
}
.no-padding {
  padding: 0;
}
.product-data {
  padding: 10px 0;
}
.mat-tab-label-active {
  background-image: linear-gradient(to right top, #484de5, #574eec, #654ef2, #734ef9, #804eff);
  transition: 0.5s ease-in;
  color: white;
  opacity: 1;

}
