<div id="product-graph" fxLayoutAlign="stretch" fxLayout="row">
    <mat-card class="no-border-radius" fxLayout="column">
        <div class="product-data" fxLayout="row">
            <div fxLayout="column">
                <h4 class="no-margin">Top Products</h4>
                <h1 class="no-margin">568,987</h1>
                <p class="no-margin">6.5% Lorem ipsum dolor sit.</p>
            </div>
        </div>
        <div fxFlex="row">
            <mat-divider class="m-tb-10"></mat-divider>
        </div>
        <div class="product-data" fxLayout="row">
            <div fxLayout="column">
                <h4 class="no-margin">Support Cases</h4>
                <h1 class="no-margin">315,485</h1>
                <p class="no-margin">61.5% change from yesterday.</p>
            </div>
        </div>
    </mat-card>
</div>